.nav-controls {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .nav-controls {
    margin-top: 15px;
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}